html, body{
  font-size: 20px;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.top{
    width: 100%;
    height: 80px;
    background-color: black;
    margin: 0 auto;
}
.top-L{
    width: 50%;
    height: 80px;
    float: left;
}
.top-R{
    width: 40%;
    height: 80px;
    float: left;
}
.top-R ul li{
    float: right;
    list-style-type: none;
    padding-right: 40px;
    font-size: 27px;
    text-align: vertical-align;
    margin-top: 15px;
}

.giohang{
    height: 60px;
    float: left;
    color: white;
    text-align: center;
    margin: 10px;
    padding: 5px;
}
.giohang p{
    margin: 0;
    }
.giohang a:link,.giohang a:visited{
    color: white;
    text-decoration: none;
    font-size: 13px;

}
.giohang a:hover{
    color: gray;
}
.navbar-nav a:hover{
    text-decoration: none;
    background-color: blue;
    color: black;
    
}
.logo{
    text-align: center;
    width: 100%;
    height: 80px;
    margin: 0 auto;
}
.logo-Left{
    width: 40%;
    height: 80px;
    float: left;
}
.logo-Left ul li{

    list-style-type: none;
    float: left;
}

.logo-Right{
    width: 55%;
    height: 80px;
    padding-bottom: 18px;
    float: left;
    background-image: url(background.gif);
  background-repeat: no-repeat;
}
.logo-Right ul li{
    list-style-type: none;
    float: right;
    padding-left: 38px;
    padding-top: 22px;
    font-size: 27px;
}
.logo-Right ul li a{
    text-decoration: none;
    color: black;
}
.logo-Right ul li a:hover{
    color:black;
}
#containSearch{
    float: left;
    position: relative;
    margin-top: 22px;
    padding-left: 95px;
}
#btnsearch{
    background: url(search.png) no-repeat;
    display: inline-block;
    padding-right: 14px;
    padding-left: 20px;
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 31%;
    right: 0.1%;
}
.baner{
    width: 100%;
}
.about{
    padding-top: 50px;
    height: 300px;
}
.sp1{
    float:left;
    padding: 0px 0px 30px 30px;
 
}

.oneproduct{
float: left;
 border: 1px solid gray;
 padding: 10px;
 margin: 0 auto;
 margin: 20px;

}
.hinhproduct img{
    width: 240px;
    height: 250px;
}
.thongtinproduct{
    text-align: left;
    color: black;
}
.explore{
    color: gray;
    font-size: 14px;
}
.info{
    float:left;
    width: 25%;
    height: auto;
    padding-bottom: 25px;
}
.info ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.info ul li a{
    text-decoration: none;
}
.info ul li a:link, .info ul li a:visited{
    color: gray;
}
.info ul li a:hover{
    color:  #73B6E1;
}
.about{
    height: 350px;
}
span.social{
    width: 34px;
    height: 34px;
    display: inline-block;
    
}
span.txtSocial{
    display: inline-block;
    padding: 7px;
    margin-top: -24px;
    vertical-align: middle;
    font-size: 16px;
}
#facebook{
    background: url(s-icons.png) no-repeat;
    background-position: 0px 0px;
}
#Twitter{
    background: url(s-icons.png) no-repeat;
    background-position: -34px 0px;
}
#Google{
    background: url(s-icons.png) no-repeat;
    background-position: -68px 0px;
}
.phanvung{
    width: 100%;
}
.childfooter{
    float: left;
    width: 50%;
}
.P

input[type=text], input[type=password] {
  width: 80%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #cd2626;
  color: white;
  padding: 5px;
  margin: 8px 0;
  border-radius: 25px;
  cursor: pointer;
  width: 80%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
 /*  z-index: 1; Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #cd2626;
  color: white;
  padding: 5px;
  margin: 8px 0;
  border-radius: 25px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: absolute;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
 /*  z-index: 1; Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

/* chat */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}



/*Fadded box*/
.faded {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  text-align: center;
}

.faded:hover .image {
  opacity: 0.3;
}

.faded:hover .middle {
  opacity: 1;
}

.discountbox {
  background-color: #cd2626;
  color: white;
  font-size: 16px;
  padding: 20px;
}